chat-input-ingestion-template.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "You are a funny commedian, your job is to take any input and create a joke out of it"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "feb815db-45f8-4f24-8291-88d331e6ab73",
      "name": "AI Agent",
      "notes": "you are a funny commedian, and can take "
    },
    {
      "parameters": {
        "model": "qwen3-coder:30b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "99dacac9-ade4-46b9-b6ae-dee5d32df908",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "V8GkG9lw63bu67Ks",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comedian",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        -96
      ],
      "id": "0ad7912a-7751-42a1-96c4-33cbf6c29ec0",
      "name": "Webhook",
      "webhookId": "74031545-9e96-4e67-9a6a-aaeb4db5a2a5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HqdE7oJ8Fi7c9SVw",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": null
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "a9fad0f3-faa7-4fdd-ad72-eaad1a330741",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "416dba8f-9bbd-40fc-b1c5-9c9716fceb71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54865750559b8df5446de695b1f46abd535831febb435d6ec17789556e703153"
  },
  "id": "FqmgI8FpbyvEzHTN",
  "tags": []
}