togaf-agents-current.json
{
  "name": "TOGAF Slack Listener",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "togaf-architect",
        "authentication": "headerAuth",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -11216,
        -832
      ],
      "id": "29be84ce-b8d2-4eac-a83d-e28053353d41",
      "name": "Webhook",
      "webhookId": "togaf-architect-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yOVwvCcrN3rQmwXe",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize input from Webhook Trigger\nconst inputData = $input.first().json;\n\n// Extract chatInput from POST body\nlet chatInput = '';\nlet triggerSource = 'webhook';\n\nif (inputData.body && inputData.body.chatInput) {\n  // From Webhook Trigger (POST body)\n  chatInput = inputData.body.chatInput;\n} else if (inputData.chatInput) {\n  // Direct chatInput in body\n  chatInput = inputData.chatInput;\n}\n\nreturn {\n  json: {\n    chatInput,\n    triggerSource,\n    originalData: inputData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11024,
        -784
      ],
      "id": "7ff8ddfb-3098-4ccb-8d99-99e8301f04e9",
      "name": "Input Normalizer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\nAnalyze this user request and extract the service/project details.",
        "options": {
          "systemMessage": "You are a service naming expert. Your job is to analyze user requests and extract a proper microservice name and parameters.\n\nAnalyze the user's input and extract:\n1. **serviceName**: A concise, descriptive name for the microservice (e.g., \"patient-scheduler\", \"inventory-api\", \"auth-service\")\n2. **projectName**: A human-readable project title\n3. **domain**: The business domain (e.g., Healthcare, Finance, Retail, E-commerce, IoT, etc.)\n4. **language**: Programming language to use (default: \"python\", options: python, nodejs, go, java)\n5. **description**: A one-sentence description of what the service does\n\nRules for serviceName:\n- Use lowercase letters, numbers, and hyphens only\n- No spaces or special characters\n- Keep it short (max 40 characters)\n- Make it descriptive but concise\n- Examples: \"order-service\", \"user-auth-api\", \"payment-gateway\", \"inventory-tracker\"\n\nOutput ONLY valid JSON in this exact format:\n{\n  \"serviceName\": \"example-service-name\",\n  \"projectName\": \"Human Readable Project Name\",\n  \"domain\": \"Domain\",\n  \"language\": \"python\",\n  \"description\": \"Brief description of the service\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -10880,
        -784
      ],
      "id": "03658ca7-116f-4ff0-b0ca-35eb221c2ff4",
      "name": "Service Name Agent"
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI agent output and prepare for downstream nodes\nconst agentOutput = $input.first().json.output || '{}';\nconst triggerSource = $('Input Normalizer').first().json.triggerSource || 'chat';\nconst chatInput = $('Input Normalizer').first().json.chatInput || '';\n\nlet parsed = {};\ntry {\n  // Extract JSON from the agent output (may have extra text)\n  const jsonMatch = agentOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  // Fallback if parsing fails\n  parsed = {\n    serviceName: 'default-service',\n    projectName: 'Default Project',\n    domain: 'Technology',\n    language: 'python',\n    description: 'Auto-generated service'\n  };\n}\n\n// Sanitize the service name\nlet repoName = (parsed.serviceName || 'service')\n  .toLowerCase()\n  .replace(/[^a-z0-9-]/g, '-')\n  .replace(/-+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 40);\n\n// Add timestamp suffix for uniqueness\nrepoName = repoName + '-' + Date.now().toString().slice(-6);\n\n// Initialize status log\nconst statusLog = ['🚀 Starting TOGAF Enterprise Architecture Process'];\n\nreturn {\n  json: {\n    chatInput,\n    projectName: parsed.projectName || 'New Project',\n    repositoryName: repoName,\n    serviceName: parsed.serviceName,\n    domain: parsed.domain || 'Technology',\n    language: parsed.language || 'python',\n    description: parsed.description || '',\n    triggerSource,\n    statusLog,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10576,
        -784
      ],
      "id": "8888825c-7908-49f0-85ed-127391dab132",
      "name": "Parse Service Name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://20.233.105.82/slack/command",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=command=/microservice&text=create {{ $json.repositoryName }} {{ $json.language }}&user_id=U_N8N_WORKFLOW&user_name=n8n-workflow&channel_id=C0952L4JNHH&channel_name=all-internal-developer-platform&team_id=T0952L48VFV&team_domain=healthservice",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -10416,
        -784
      ],
      "id": "727509f0-e52c-47e2-b98c-fca5f46fdd8d",
      "name": "Create Microservice"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Parse Service Name').item.json.chatInput }}\n\nRepository Name: {{ $('Parse Service Name').item.json.repositoryName }}\n\nParse and analyze this project input. Create the project context JSON for downstream agents.",
        "options": {
          "systemMessage": "You are a TOGAF-certified Enterprise Architecture workflow orchestrator. Your role is to:\n1. Parse the project input and extract: project name, domain, high-level requirements\n2. The repository name has already been created: use the one provided\n3. Create initial project context JSON for downstream agents\n\nOutput ONLY valid JSON in this format:\n{\n  \"projectName\": \"Human readable project name\",\n  \"repositoryName\": \"<use the provided repository name>\",\n  \"domain\": \"e.g., Healthcare, Finance, Retail, Technology\",\n  \"initialRequirements\": \"Summarized requirements from input\",\n  \"stakeholders\": [\"list\", \"of\", \"stakeholders\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -9936,
        -784
      ],
      "id": "7be38791-620e-4e42-a6e5-4071fc638354",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -11152,
        -528
      ],
      "id": "a3e9db63-82a1-401d-9b31-a1d8757f91c4",
      "name": "When chat message received",
      "webhookId": "f669609b-2726-4b75-88ff-06661f49a782"
    },
    {
      "parameters": {
        "content": "## TOGAF Enterprise Delivery with Slack\n\n### Dual Entry Points:\n- **Chat Trigger**: Interactive testing via n8n chat\n- **Webhook Trigger**: POST to /webhook/togaf-architect with JSON body: {\"chatInput\": \"your request\"}\n\n### Setup Required:\n1. Replace `SLACK_CHANNEL_ID` with your channel ID\n2. Replace `SLACK_CREDENTIAL_ID` with your Slack OAuth2 credential\n3. Replace `OPENAI_CREDENTIAL_ID` with your OpenAI credential\n4. Replace `GITHUB_CREDENTIAL_ID` with your GitHub credential\n5. Replace `HEADER_AUTH_CREDENTIAL_ID` with your Header Auth credential\n6. Deploy and activate the **TOGAF Slack Listener** workflow\n7. Set the `N8N_WEBHOOK_URL` environment variable\n\n### Flow:\n1. User inputs project requirements (chat or webhook)\n2. Input Normalizer unifies the input format\n3. Parse Service Name extracts project name, generates repo name\n4. Slack command creates microservice repo\n5. Wait for Slack listener to resume workflow\n6. AI agents run with confirmed repo name\n7. Commit all artifacts to docs/ folder\n8. Response Router sends appropriate response:\n   - Chat: \"Progress: Complete\" message\n   - Webhook: JSON response with statusLog",
        "height": 480,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -11696,
        -976
      ],
      "id": "dd71e235-6bdc-4d48-8340-d1014b8700f3",
      "name": "Instructions2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -9936,
        -544
      ],
      "id": "eb3fcb00-7060-4778-b857-de255968ce4f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ZDKMG38FCieXOBKt",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -11328,
        64
      ],
      "id": "9fb2bd45-2511-468d-a58c-bf8dc2c9eb39",
      "name": "Slack Events Webhook1",
      "webhookId": "slack-events-togaf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-challenge",
              "leftValue": "={{ $json.body.challenge }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -11088,
        64
      ],
      "id": "633030d0-50cb-4c48-90cc-ffdbfd5cc369",
      "name": "Is Challenge?1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body.challenge }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -10832,
        -96
      ],
      "id": "3c92810d-1d60-43e9-918b-eb92190b8bf9",
      "name": "Respond Challenge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-repo-ready-text",
              "leftValue": "={{ $json.body.event.text }}",
              "rightValue": "Repositories created/updated",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-repo-ready-attachment",
              "leftValue": "={{ $json.body.event.attachments?.[0]?.text }}",
              "rightValue": "Repositories created/updated",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -10832,
        160
      ],
      "id": "4f2e3a8c-7f4f-48a5-b135-3a04a35f29da",
      "name": "IF Repo Ready1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -10576,
        64
      ],
      "id": "3853110c-4522-4da8-823a-3d8d05569868",
      "name": "Respond OK1"
    },
    {
      "parameters": {
        "jsCode": "// Extract repo name from Slack message\nconst event = $input.first().json.body.event || {};\nlet text = event.text || '';\n\n// Also check attachments for bot messages\nif (!text && event.attachments && event.attachments.length > 0) {\n  const attachment = event.attachments[0];\n  text = (attachment.text || '') + ' ' + (attachment.title || '') + ' ' + (attachment.fallback || '');\n}\n\n// Try multiple patterns to find the repo name\nlet repoName = null;\n\n// Pattern 1: \"Resource: repo-name\"\nconst resourceMatch = text.match(/Resource:\\s*_?([\\w-]+)_?/i);\nif (resourceMatch) {\n  repoName = resourceMatch[1];\n}\n\n// Pattern 2: \"microservice | repo-name\" (from the emoji header)\nif (!repoName) {\n  const headerMatch = text.match(/microservice\\s*\\|\\s*_?([\\w-]+)_?/i);\n  if (headerMatch) {\n    repoName = headerMatch[1];\n  }\n}\n\n// If no repo name found, return empty to stop the flow\nif (!repoName) {\n  console.log('No repo name found in message:', text);\n  return [];\n}\n\n// Clean up the repo name (remove any trailing punctuation and underscores)\nrepoName = repoName.replace(/[.,;:!?_]+$/, '').replace(/^_+/, '');\n\nreturn [{\n  json: {\n    repositoryName: repoName,\n    originalMessage: text,\n    channel: event.channel,\n    user: event.user,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10576,
        256
      ],
      "id": "65c4f8b4-3efb-4c43-aafc-8a6539455fb9",
      "name": "Extract Repo Name1"
    },
    {
      "parameters": {
        "content": "## TOGAF Slack Listener (Webhook-based)\n\n### Request URL for Slack Event Subscriptions:\n`https://n8n.srv1157352.hstgr.cloud/webhook/slack-events`\n\n### Flow:\n1. **Slack Events Webhook** - Receives all Slack events\n2. **Is Challenge?** - Handles Slack URL verification\n3. **IF Repo Ready** - Filters for repo creation messages\n4. **Extract Repo Name** - Parses the repo name\n5. **Resume Main Workflow** - Triggers the waiting TOGAF workflow\n\n### Bot Events to Subscribe:\n- `message.channels`\n\n### Channel:\n- ID: C0952L4JNHH (#all-internal-developer-platform)",
        "height": 360,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -11680,
        -96
      ],
      "id": "c1b30c5b-c65a-4d12-b507-2fb628ad4509",
      "name": "Instructions1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, projectName: $('Parse Service Name').item.json.projectName, repositoryName: $('Parse Service Name').item.json.repositoryName, status: 'Microservice creation initiated - check Slack channel #all-internal-developer-platform for updates' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-togaf-webhook",
      "name": "Respond to TOGAF Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -9680,
        -784
      ]
    },
    {
      "parameters": {
        "jsCode": "// Store context for later retrieval by Slack listener\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pendingRequests = staticData.pendingRequests || {};\n\nconst repoName = $json.repositoryName;\nstaticData.pendingRequests[repoName] = {\n  chatInput: $json.chatInput,\n  projectName: $json.projectName,\n  repositoryName: $json.repositoryName,\n  domain: $json.domain,\n  language: $json.language,\n  description: $json.description,\n  triggerSource: $json.triggerSource || 'webhook',\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('Stored context for:', repoName);\nreturn { json: $json };"
      },
      "id": "store-context-node",
      "name": "Store Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10496,
        -784
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve stored context from initiator flow\nconst staticData = $getWorkflowStaticData('global');\nconst repoName = $json.repositoryName;\n\nconst context = staticData.pendingRequests?.[repoName];\nif (!context) {\n  console.log('No pending request for:', repoName);\n  return [];\n}\n\nconst timestamp = new Date(context.timestamp);\nconst now = new Date();\nconst hourInMs = 60 * 60 * 1000;\nif (now - timestamp > hourInMs) {\n  console.log('Context expired for:', repoName);\n  delete staticData.pendingRequests[repoName];\n  return [];\n}\n\ndelete staticData.pendingRequests[repoName];\nconsole.log('Retrieved context for:', repoName);\n\nreturn {\n  json: {\n    ...context,\n    repoConfirmed: true,\n    slackEventReceived: new Date().toISOString()\n  }\n};"
      },
      "id": "retrieve-context-node",
      "name": "Retrieve Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10336,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project: {{ $('Store Context').item.json.projectName }}\nRepository: {{ $('Store Context').item.json.repositoryName }}\nDomain: {{ $('Store Context').item.json.domain }}\nLanguage: {{ $('Store Context').item.json.language }}\nDescription: {{ $('Store Context').item.json.description }}\n\nOriginal Requirements:\n{{ $('Store Context').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a TOGAF Enterprise Architect Orchestrator. Your role is to analyze the project requirements and create a comprehensive project context document that will guide all subsequent architecture work.\n\nBased on the input, produce a JSON document with:\n1. projectOverview: High-level summary of the project\n2. businessContext: Business drivers and objectives\n3. stakeholders: Key stakeholders and their concerns\n4. constraints: Technical and business constraints\n5. assumptions: Key assumptions being made\n6. architecturePrinciples: Relevant TOGAF principles to apply\n7. scopeDefinition: What's in and out of scope\n\nOutput valid JSON only."
        }
      },
      "id": "slack-orchestrator-agent",
      "name": "Slack Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -10096,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse orchestrator output and prepare for GitHub commit\nconst input = $json;\nlet orchestratorOutput;\n\ntry {\n  const outputText = input.output || input.text || JSON.stringify(input);\n  const jsonMatch = outputText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    orchestratorOutput = JSON.parse(jsonMatch[0]);\n  } else {\n    orchestratorOutput = { raw: outputText };\n  }\n} catch (e) {\n  orchestratorOutput = { raw: input.output || input.text || JSON.stringify(input) };\n}\n\nreturn {\n  json: {\n    repositoryName: $('Retrieve Context').item.json.repositoryName,\n    projectName: $('Retrieve Context').item.json.projectName,\n    chatInput: $('Retrieve Context').item.json.chatInput,\n    orchestratorContext: orchestratorOutput,\n    commitPath: 'docs/architecture/project-context.json',\n    commitMessage: 'Add TOGAF project context from Orchestrator Agent'\n  }\n};"
      },
      "id": "parse-orchestrator-output",
      "name": "Parse Orchestrator Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9856,
        256
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0952L4JNHH",
          "mode": "id"
        },
        "text": "=✅ *TOGAF Enterprise Architecture Complete*\n\n*Repository:* {{ $('Parse Project Context').item.json.repositoryName }}\n*Project:* {{ $('Parse Project Context').item.json.projectName }}\n*Domain:* {{ $('Parse Project Context').item.json.domain }}\n\n📁 *Committed Artifacts (10 files):*\n\n*ArchiMate 3.1 Models:*\n• `docs/architecture/requirements-model.xml`\n• `docs/architecture/compliance-model.xml`\n• `docs/architecture/business-canvas-model.xml`\n• `docs/architecture/business-architecture-model.xml`\n• `docs/architecture/tech-recommendations-model.xml`\n• `docs/architecture/application-architecture-model.xml`\n• `docs/architecture/infrastructure-architecture-model.xml`\n• `docs/architecture/implementation-plan-model.xml`\n\n*Deployment:*\n• `docs/deployment/application.oam.yaml`\n\n*Documentation:*\n• `docs/PRD.md`\n\n<https://github.com/SocratesHlaworx/{{ $('Parse Project Context').item.json.repositoryName }}|View Repository>",
        "otherOptions": {}
      },
      "id": "slack-completion-notification",
      "name": "Send Completion Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -4576,
        256
      ],
      "webhookId": "30fbfb87-3376-4c2d-8e5f-8280510766fc",
      "credentials": {
        "slackApi": {
          "id": "FGnClpVvmu5ycOWN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "shlapolosa",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repositoryName }}"
        },
        "filePath": "={{ $json.commitPath }}",
        "fileContent": "={{ JSON.stringify($json.orchestratorContext, null, 2) }}",
        "commitMessage": "={{ $json.commitMessage }}"
      },
      "id": "github-commit-context-v2",
      "name": "Commit Project Context",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -9616,
        256
      ],
      "webhookId": "8ae10c45-3118-419d-b469-5f0b711f9569",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\nAnalyze the above project context and create comprehensive requirements documentation in ArchiMate 3.1 XML format.\n\nInclude:\n- Stakeholder elements\n- Driver elements  \n- Goal elements\n- Requirement elements\n- Outcome elements\n- Assessment elements\n\nWith proper relationships between elements.",
        "options": {
          "systemMessage": "You are a Business Analyst expert in TOGAF ADM and ArchiMate 3.1. Your role is to:\n1. Elicit and document comprehensive requirements\n2. Create user stories and acceptance criteria\n3. Output ArchiMate Motivation layer elements (Stakeholder, Driver, Assessment, Goal, Outcome, Requirement)\n\nGenerate ArchiMate 3.1 compliant XML following Open Group Exchange Format:\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"requirements-model\">\n  <name>Requirements Model</name>\n  <elements>\n    <element identifier=\"stakeholder-1\" xsi:type=\"Stakeholder\"><name>...</name><documentation>...</documentation></element>\n    <element identifier=\"driver-1\" xsi:type=\"Driver\"><name>...</name></element>\n    <element identifier=\"goal-1\" xsi:type=\"Goal\"><name>...</name></element>\n    <element identifier=\"requirement-1\" xsi:type=\"Requirement\"><name>...</name></element>\n  </elements>\n  <relationships>\n    <relationship identifier=\"r1\" xsi:type=\"Association\" source=\"stakeholder-1\" target=\"driver-1\"/>\n  </relationships>\n</model>\n\nBe thorough. Include ALL requirements. Output ONLY the XML."
        }
      },
      "id": "ba-agent-slack",
      "name": "BA Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -9136,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\nAnalyze the above project context and identify all applicable compliance requirements, regulations, and standards based on the domain. Output in ArchiMate 3.1 XML format.",
        "options": {
          "systemMessage": "You are a Compliance Officer with expertise in regulatory frameworks and ArchiMate 3.1. Your role is to:\n1. Identify applicable regulations based on domain (GDPR, HIPAA, SOX, PCI-DSS, ISO 27001, etc.)\n2. Map compliance requirements to ArchiMate Constraint elements\n3. Document standards and policies as Principle elements\n\nGenerate ArchiMate 3.1 XML with:\n- Constraint elements for regulations\n- Requirement elements for compliance requirements\n- Principle elements for standards\n- Relationships showing how constraints influence requirements\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"compliance-model\">\n  <name>Compliance Model</name>\n  <elements>\n    <element identifier=\"constraint-1\" xsi:type=\"Constraint\"><name>GDPR Article 17 - Right to Erasure</name><documentation>...</documentation></element>\n    <element identifier=\"principle-1\" xsi:type=\"Principle\"><name>Data Minimization</name></element>\n    <element identifier=\"requirement-c1\" xsi:type=\"Requirement\"><name>Personal Data Deletion Capability</name></element>\n  </elements>\n  <relationships>\n    <relationship identifier=\"r1\" xsi:type=\"Influence\" source=\"constraint-1\" target=\"requirement-c1\"/>\n  </relationships>\n</model>\n\nOutput ONLY the XML."
        }
      },
      "id": "compliance-agent-slack",
      "name": "Compliance Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -9264,
        512
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-phase-1-slack",
      "name": "Merge Phase 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -8832,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\nBased on the requirements and compliance analysis above, create a Business Model Canvas in ArchiMate 3.1 XML format.",
        "options": {
          "systemMessage": "You are a Business Owner creating a Business Model Canvas using ArchiMate 3.1. Your role is to:\n1. Document value proposition\n2. Map customer segments, channels, relationships\n3. Identify revenue streams and cost structure\n4. Create Resource and Capability elements\n\nGenerate ArchiMate XML for Strategy layer:\n- Value elements (value propositions)\n- Resource elements (key resources)\n- Capability elements (key activities)\n- Course of Action elements (strategies)\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"business-canvas-model\">\n  <name>Business Canvas Model</name>\n  <elements>...</elements>\n  <relationships>...</relationships>\n</model>\n\nOutput ONLY the XML."
        }
      },
      "id": "business-owner-agent-slack",
      "name": "Business Owner Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -8528,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\nCreate comprehensive business architecture in ArchiMate 3.1 XML format.",
        "options": {
          "systemMessage": "You are a Business Architect expert in TOGAF and ArchiMate 3.1. Create comprehensive business architecture including:\n- Motivation Layer (Goals, Drivers, Assessments)\n- Strategy Layer (Courses of Action, Resources)\n- Capability Map (3 levels)\n- Business Layer (Processes, Functions, Roles)\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"business-architecture-model\">\n  <name>Business Architecture Model</name>\n  <elements>...</elements>\n  <relationships>...</relationships>\n</model>\n\nOutput ONLY the XML."
        }
      },
      "id": "business-architect-agent-slack",
      "name": "Business Architect Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -8224,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\nProvide technology recommendations in ArchiMate 3.1 XML format.",
        "options": {
          "systemMessage": "You are a CTO providing technology recommendations based on ArchiMate capability analysis.\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"tech-recommendations-model\">\n  <name>Technology Recommendations</name>\n  <elements>...</elements>\n  <relationships>...</relationships>\n</model>\n\nInclude documentation with rationale for each technology choice. Output ONLY the XML."
        }
      },
      "id": "cto-agent-slack",
      "name": "CTO Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -8224,
        416
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-phase-3a-slack",
      "name": "Merge Phase 3A",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -7920,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\nCreate application architecture in ArchiMate 3.1 XML format.",
        "options": {
          "systemMessage": "You are an Application Architect creating ArchiMate 3.1 Application Architecture.\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"application-architecture-model\">\n  <name>Application Architecture Model</name>\n  <elements>...</elements>\n  <relationships>...</relationships>\n</model>\n\nOutput ONLY the XML."
        }
      },
      "id": "app-architect-agent-slack",
      "name": "Application Architect Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -7616,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\nCreate infrastructure/technology architecture in ArchiMate 3.1 XML format.",
        "options": {
          "systemMessage": "You are an Infrastructure Architect creating ArchiMate 3.1 Technology Architecture.\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"infrastructure-architecture-model\">\n  <name>Infrastructure Architecture Model</name>\n  <elements>...</elements>\n  <relationships>...</relationships>\n</model>\n\nOutput ONLY the XML."
        }
      },
      "id": "infra-architect-agent-slack",
      "name": "Infrastructure Architect Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -7312,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\nCreate implementation and migration planning in ArchiMate 3.1 XML format. Also compile a PRD summary document.",
        "options": {
          "systemMessage": "You are a Project Manager creating TOGAF Implementation & Migration Architecture.\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" identifier=\"implementation-plan-model\">\n  <name>Implementation Plan Model</name>\n  <elements>...</elements>\n  <relationships>...</relationships>\n</model>\n\nAfter the XML, also output a PRD SUMMARY in markdown format."
        }
      },
      "id": "pm-agent-slack",
      "name": "Project Manager Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -7008,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}\n\nBased on the architecture analysis above, generate a KubeVela OAM Application YAML file for deploying this solution.",
        "options": {
          "systemMessage": "You are a Solution Architect creating a KubeVela OAM (Open Application Model) deployment specification.\n\nBased on the architecture analysis provided, generate a VALID KubeVela OAM Application YAML file.\n\nCRITICAL: You may ONLY use the following definitions that exist in our platform:\n\n## AVAILABLE COMPONENT TYPES:\n- webservice: Knative-based web service (params: image, port, resources, language, framework, targetEnvironment)\n- identity-service: Identity/Auth service (params: domain, customUserProfiles, javaVersion, databaseProvisioning)\n- graphql-gateway: GraphQL Federation gateway (params: autoSchema, schemaRefreshInterval)\n- rasa-chatbot: Conversational AI (params: rasaImage, actionsImage, resources)\n- realtime-platform: IoT/Realtime data (params: database, visualization, iot, dataRetention)\n- camunda-orchestrator: BPMN orchestration (params: camundaMode, realtimePlatform, enableEventStreaming)\n- kafka: Message streaming (params: replicas, storageSize)\n- redis: Caching (params: architecture, replicaCount, storageSize)\n- mongodb: Document database (params: replicaCount, storageSize, database)\n- postgresql: Relational database (params: name, database, username, storage)\n- vcluster: Virtual Kubernetes cluster (params: isolationEnabled, serviceType)\n- clickhouse: Analytics database (params: version, replicas, storageSize)\n- neon-postgres: Serverless Postgres (params: database, region, computeSize)\n- auth0-idp: Auth0 identity provider (params: name, targetEnvironment)\n\n## AVAILABLE TRAITS:\n- ingress: HTTP routing (params: domain, path, enableTLS)\n- autoscaler: HPA scaling (params: minReplicas, maxReplicas, targetCPU)\n- kafka-producer: Kafka producer config (params: topics)\n- kafka-consumer: Kafka consumer config (params: topics, consumerGroup)\n\n## AVAILABLE POLICIES:\n- crossplane-execution-order: Deployment ordering (params: phases, phaseDelay)\n- health: Health checks (params: probeTimeout, probeInterval)\n- crossplane-workflow: Workflow config (params: enabled, timeout, mode)\n\n## AVAILABLE WORKFLOW STEPS:\n- create-crossplane-claims\n- wait-for-claims\n- cleanup-failed-claims\n\n## OUTPUT FORMAT:\nGenerate a complete, valid YAML file with this structure:\n\napiVersion: core.oam.dev/v1beta1\nkind: Application\nmetadata:\n  name: <application-name>\n  namespace: <namespace>\nspec:\n  components:\n    - name: <component-name>\n      type: <component-type-from-list-above>\n      properties:\n        <component-specific-properties>\n      traits:\n        - type: <trait-type-from-list-above>\n          properties:\n            <trait-specific-properties>\n  policies:\n    - name: <policy-name>\n      type: <policy-type-from-list-above>\n      properties:\n        <policy-specific-properties>\n  workflow:\n    steps:\n      - name: <step-name>\n        type: <step-type-from-list-above>\n        properties:\n          <step-specific-properties>\n\nRULES:\n1. ONLY use component types, traits, policies, and workflow steps listed above\n2. Match component properties to the documented parameters\n3. Use realistic resource values (cpu: \"500m\", memory: \"512Mi\")\n4. Include appropriate traits for web-facing components (ingress, autoscaler)\n5. Include policies for execution ordering if multiple components\n6. Output ONLY the YAML - no explanations before or after"
        }
      },
      "id": "solution-architect-agent-slack",
      "name": "Solution Architect Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -6704,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all outputs from the workflow\nconst items = $input.all();\n\n// Get repo name from Store Context node (works for both webhook and Slack flows)\nlet repoName, projectName, chatInput, domain;\n\ntry {\n  // Try Store Context first (webhook flow)\n  repoName = $('Store Context').first().json.repositoryName;\n  projectName = $('Store Context').first().json.projectName;\n  chatInput = $('Store Context').first().json.chatInput;\n  domain = $('Store Context').first().json.domain || 'Technology';\n} catch (e) {\n  // Fallback to Retrieve Context (Slack flow)\n  try {\n    repoName = $('Retrieve Context').first().json.repositoryName;\n    projectName = $('Retrieve Context').first().json.projectName;\n    chatInput = $('Retrieve Context').first().json.chatInput;\n    domain = $('Retrieve Context').first().json.domain || 'Technology';\n  } catch (e2) {\n    repoName = 'unknown-repo';\n    projectName = 'Unknown Project';\n    chatInput = '';\n    domain = 'Technology';\n  }\n}\n\nlet projectContext = {\n  projectName: projectName,\n  repositoryName: repoName,\n  domain: domain\n};\n\n// Find outputs and categorize them\nconst artifacts = {};\nlet prdContent = '';\n\n// Get outputs from each agent\ntry {\n  const baOutput = $('BA Agent').first().json.output || '';\n  if (baOutput.includes('<?xml')) artifacts.requirements = baOutput;\n} catch (e) {}\n\ntry {\n  const complianceOutput = $('Compliance Agent').first().json.output || '';\n  if (complianceOutput.includes('<?xml')) artifacts.compliance = complianceOutput;\n} catch (e) {}\n\ntry {\n  const businessOwnerOutput = $('Business Owner Agent').first().json.output || '';\n  if (businessOwnerOutput.includes('<?xml')) artifacts.businessCanvas = businessOwnerOutput;\n} catch (e) {}\n\ntry {\n  const businessArchOutput = $('Business Architect Agent').first().json.output || '';\n  if (businessArchOutput.includes('<?xml')) artifacts.businessArchitecture = businessArchOutput;\n} catch (e) {}\n\ntry {\n  const ctoOutput = $('CTO Agent').first().json.output || '';\n  if (ctoOutput.includes('<?xml')) artifacts.techRecommendations = ctoOutput;\n} catch (e) {}\n\ntry {\n  const appArchOutput = $('Application Architect Agent').first().json.output || '';\n  if (appArchOutput.includes('<?xml')) artifacts.applicationArchitecture = appArchOutput;\n} catch (e) {}\n\ntry {\n  const infraArchOutput = $('Infrastructure Architect Agent').first().json.output || '';\n  if (infraArchOutput.includes('<?xml')) artifacts.infrastructureArchitecture = infraArchOutput;\n} catch (e) {}\n\ntry {\n  const pmOutput = $('Project Manager Agent').first().json.output || '';\n  if (pmOutput.includes('<?xml')) {\n    // Extract XML portion\n    const xmlMatch = pmOutput.match(/<\\?xml[\\s\\S]*?<\\/model>/i);\n    if (xmlMatch) artifacts.implementationPlan = xmlMatch[0];\n  }\n  // Extract PRD content (markdown after XML)\n  if (pmOutput.includes('# ')) {\n    const prdMatch = pmOutput.match(/# [\\s\\S]+$/m);\n    if (prdMatch) prdContent = prdMatch[0];\n  }\n} catch (e) {}\n\ntry {\n  const solutionOutput = $('Solution Architect Agent').first().json.output || '';\n  if (solutionOutput.includes('apiVersion:')) {\n    artifacts.oamApplication = solutionOutput;\n  }\n} catch (e) {}\n\n// Use last item output as PRD if not found\nif (!prdContent && items.length > 0) {\n  const lastOutput = items[items.length - 1].json.output || '';\n  if (lastOutput.includes('#')) {\n    prdContent = lastOutput.replace(/^[\\s\\S]*?(?=# )/m, '');\n  } else {\n    prdContent = `# Product Requirements Document\\n\\n## Project: ${projectName}\\n\\n${lastOutput}`;\n  }\n}\n\nreturn {\n  json: {\n    ...projectContext,\n    chatInput,\n    artifacts,\n    prdContent,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-project-context-slack",
      "name": "Parse Project Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6400,
        256
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repositoryName }}"
        },
        "filePath": "docs/architecture/requirements-model.xml",
        "fileContent": "={{ $json.artifacts.requirements || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Requirements Model</name><elements/></model>' }}",
        "commitMessage": "Add requirements model (ArchiMate 3.1)"
      },
      "id": "commit-requirements-slack",
      "name": "Commit Requirements",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -6096,
        0
      ],
      "webhookId": "5cd53723-0c6b-4b06-9ed9-82082b88ed6c",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repositoryName }}"
        },
        "filePath": "docs/architecture/compliance-model.xml",
        "fileContent": "={{ $json.artifacts.compliance || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Compliance Model</name><elements/></model>' }}",
        "commitMessage": "Add compliance model (ArchiMate 3.1)"
      },
      "id": "commit-compliance-slack",
      "name": "Commit Compliance",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -6096,
        144
      ],
      "webhookId": "f39aadbc-bb6d-4908-b7e3-9cd4afb28a75",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repositoryName }}"
        },
        "filePath": "docs/architecture/business-canvas-model.xml",
        "fileContent": "={{ $json.artifacts.businessCanvas || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Business Canvas Model</name><elements/></model>' }}",
        "commitMessage": "Add business canvas model (ArchiMate 3.1)"
      },
      "id": "commit-business-canvas-slack",
      "name": "Commit Business Canvas",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -6096,
        288
      ],
      "webhookId": "2cb8dd3f-1f58-4e5e-a991-468f7a36c31d",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repositoryName }}"
        },
        "filePath": "docs/architecture/business-architecture-model.xml",
        "fileContent": "={{ $json.artifacts.businessArchitecture || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Business Architecture Model</name><elements/></model>' }}",
        "commitMessage": "Add business architecture model (ArchiMate 3.1)"
      },
      "id": "commit-business-arch-slack",
      "name": "Commit Business Architecture",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -6096,
        432
      ],
      "webhookId": "733b0fbe-b732-40e7-8a88-d162c957cd3d",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repositoryName }}"
        },
        "filePath": "docs/architecture/tech-recommendations-model.xml",
        "fileContent": "={{ $json.artifacts.techRecommendations || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Tech Recommendations</name><elements/></model>' }}",
        "commitMessage": "Add technology recommendations (ArchiMate 3.1)"
      },
      "id": "commit-tech-rec-slack",
      "name": "Commit Tech Recommendations",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -6096,
        576
      ],
      "webhookId": "d9a5d2f2-3464-4fea-8399-96bc7f472b53",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-commits-1-slack",
      "name": "Merge Commits 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -5792,
        256
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Parse Project Context').item.json.repositoryName }}"
        },
        "filePath": "docs/architecture/application-architecture-model.xml",
        "fileContent": "={{ $('Parse Project Context').item.json.artifacts.applicationArchitecture || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Application Architecture Model</name><elements/></model>' }}",
        "commitMessage": "Add application architecture model (ArchiMate 3.1)"
      },
      "id": "commit-app-arch-slack",
      "name": "Commit App Architecture",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -5488,
        0
      ],
      "webhookId": "5ce1cbc2-496c-4615-b3c2-f93906ba9b98",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Parse Project Context').item.json.repositoryName }}"
        },
        "filePath": "docs/architecture/infrastructure-architecture-model.xml",
        "fileContent": "={{ $('Parse Project Context').item.json.artifacts.infrastructureArchitecture || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Infrastructure Architecture Model</name><elements/></model>' }}",
        "commitMessage": "Add infrastructure architecture model (ArchiMate 3.1)"
      },
      "id": "commit-infra-arch-slack",
      "name": "Commit Infra Architecture",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -5488,
        144
      ],
      "webhookId": "3f6d568f-ee53-4feb-a2df-12f833456296",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Parse Project Context').item.json.repositoryName }}"
        },
        "filePath": "docs/architecture/implementation-plan-model.xml",
        "fileContent": "={{ $('Parse Project Context').item.json.artifacts.implementationPlan || '<model xmlns=\"http://www.opengroup.org/xsd/archimate/3.1/\"><name>Implementation Plan Model</name><elements/></model>' }}",
        "commitMessage": "Add implementation plan model (ArchiMate 3.1)"
      },
      "id": "commit-impl-plan-slack",
      "name": "Commit Implementation Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -5488,
        288
      ],
      "webhookId": "463fb7d7-9e76-4135-b037-78ae25798357",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Parse Project Context').item.json.repositoryName }}"
        },
        "filePath": "docs/deployment/application.oam.yaml",
        "fileContent": "={{ $('Parse Project Context').item.json.artifacts.oamApplication || 'apiVersion: core.oam.dev/v1beta1\\nkind: Application\\nmetadata:\\n  name: placeholder\\nspec:\\n  components: []' }}",
        "commitMessage": "Add KubeVela OAM Application deployment spec"
      },
      "id": "commit-oam-slack",
      "name": "Commit OAM Application",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -5488,
        432
      ],
      "webhookId": "054ef18d-e480-4425-890f-b1f995645858",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-commits-2-slack",
      "name": "Merge Commits 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -5184,
        256
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "shlapolosa"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Parse Project Context').item.json.repositoryName }}"
        },
        "filePath": "docs/PRD.md",
        "fileContent": "={{ $('Parse Project Context').item.json.prdContent || '# Product Requirements Document\\n\\nNo content generated.' }}",
        "commitMessage": "Add Product Requirements Document"
      },
      "id": "commit-prd-slack",
      "name": "Commit PRD",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -4880,
        256
      ],
      "webhookId": "491cb39f-8914-4566-a54b-907df1b6aa31",
      "credentials": {
        "githubApi": {
          "id": "a3T4qschjFzSez08",
          "name": "GitHub account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Input Normalizer": {
      "main": [
        [
          {
            "node": "Service Name Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Name Agent": {
      "main": [
        [
          {
            "node": "Parse Service Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Respond to TOGAF Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Input Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Service Name Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Slack Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "BA Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Compliance Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Business Owner Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Business Architect Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "CTO Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Application Architect Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Infrastructure Architect Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Project Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Solution Architect Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Slack Events Webhook1": {
      "main": [
        [
          {
            "node": "Is Challenge?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Challenge?1": {
      "main": [
        [
          {
            "node": "Respond Challenge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Repo Ready1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Repo Ready1": {
      "main": [
        [
          {
            "node": "Respond OK1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Repo Name1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Service Name": {
      "main": [
        [
          {
            "node": "Store Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Context": {
      "main": [
        [
          {
            "node": "Create Microservice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Repo Name1": {
      "main": [
        [
          {
            "node": "Retrieve Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Context": {
      "main": [
        [
          {
            "node": "Slack Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Orchestrator Output": {
      "main": [
        [
          {
            "node": "Commit Project Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Orchestrator Agent": {
      "main": [
        [
          {
            "node": "BA Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compliance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BA Agent": {
      "main": [
        [
          {
            "node": "Merge Phase 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Agent": {
      "main": [
        [
          {
            "node": "Merge Phase 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Phase 1": {
      "main": [
        [
          {
            "node": "Business Owner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Owner Agent": {
      "main": [
        [
          {
            "node": "Business Architect Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "CTO Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Architect Agent": {
      "main": [
        [
          {
            "node": "Merge Phase 3A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTO Agent": {
      "main": [
        [
          {
            "node": "Merge Phase 3A",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Phase 3A": {
      "main": [
        [
          {
            "node": "Application Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Application Architect Agent": {
      "main": [
        [
          {
            "node": "Infrastructure Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infrastructure Architect Agent": {
      "main": [
        [
          {
            "node": "Project Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Manager Agent": {
      "main": [
        [
          {
            "node": "Solution Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solution Architect Agent": {
      "main": [
        [
          {
            "node": "Parse Project Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Project Context": {
      "main": [
        [
          {
            "node": "Commit Requirements",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit Compliance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit Business Canvas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit Business Architecture",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit Tech Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Requirements": {
      "main": [
        [
          {
            "node": "Merge Commits 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Compliance": {
      "main": [
        [
          {
            "node": "Merge Commits 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Commits 1": {
      "main": [
        [
          {
            "node": "Commit App Architecture",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit Infra Architecture",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit Implementation Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Commit OAM Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit App Architecture": {
      "main": [
        [
          {
            "node": "Merge Commits 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Infra Architecture": {
      "main": [
        [
          {
            "node": "Merge Commits 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Commits 2": {
      "main": [
        [
          {
            "node": "Commit PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit PRD": {
      "main": [
        [
          {
            "node": "Send Completion Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Microservice": {
      "main": [
        [
          {
            "node": "Slack Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Completion Notification": {
      "main": [
        [
          {
            "node": "Respond to TOGAF Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "rhLS19cpU3JMmFL0",
  "tags": []
}
